// width
$w_single = 960px
$w_main = 704px
$w_sub = 256px

base = 16


pc()
  @media all and (min-width: 768px)
    {block}

clearfix()
  &:after
    content ''
    display block
    clear both

.showSP
  display block
  +pc()
    display none
.showPC
  display none
  +pc()
    display block
