{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "ie": 11,
          "esmodules": true
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "pug", "bash"],
      "plugins": ["line-numbers"],
      "theme": "tomorrow",
      "css": true
    }]
  ],
  "ignore": ["node_modules"]
}
