extends /_layouts/double

append vars
  -
    var pageInfo = {
      path: '/samples',
      title: 'サンプルページ',
      description: 'static-packで使用しているツールを一部紹介します。'
    }

block main
  article
    .container
      h1
        span サンプルページ
      p.lead.mb-5
        | #{pageInfo.description}
    .container
      .row
        .col-4.text-center
          a(href='/samples/svg-sprite.html')
            svg.mb-3
              use(xlink:href='#SVG_logo')
            span svg-sprite
        .col-4.text-center
          a(href='/samples/pug.html')
            svg.mb-3
              use(xlink:href='#pug')
            span pug
        .col-4.text-center
          a(href='/samples/stylus.html')
            svg.mb-3
              use(xlink:href='#stylus')
            span stylus


block sub
  aside
    ul.sideMenu
      li.sideMenu__item
        a(href='/') トップページ
      li.sideMenu__item
        a(href='/samples') サンプルページ
        ul
          li
            a(href='/samples/svg-sprite.html') svg-sprite
          li
            a(href='/samples/pug.html') pug
          li
            a(href='/samples/stylus.html') stylus
