mixin footer()
  footer.footer.bg-dark.text-white.mt-auto
    .container.pt-3.pb-3.mt-5
      ul.nav.justify-content-center.mb-2
        li.nav-item
          a.nav-link.text-white(href="/") トップページ
        li.nav-item
          a.nav-link.text-white(href="/samples") サンプルページ
      small.copyrights
        | &copy;
        | 2018 SocialRights LLC
