mixin footer()
  footer.footer
    .footer__inner
      ul.footerMenu
        li.footerMenu__item
          a(href='/') トップページ
        li.footerMenu__item
          a(href='/samples') サンプルページ
      small.copyrights
        | &copy;
        | 2018 SocialRights LLC
