mixin menu()
  nav.menu
    .menu__switch
      svg.bar
        use(xlink:href='#bars')
      svg.close
        use(xlink:href='#close')
    .menu__content
      ul.menuList
        li.menuList__item
          a(href='/') トップページ
        li.menuList__item
          a(href='/samples') サンプルページ
