.layout
  display grid
  grid-template-columns 100%
  grid-template-rows auto
  min-height 100%
  &--single
    grid-template-areas 'h' 'm' 'f'
    grid-template-rows auto 1fr auto
  &--double
    grid-template-areas 'h' 'm' 's' 'f'
    grid-template-rows auto 1fr auto auto
    +pc()
      grid-template-areas 'h h h h' '.. m s ..' 'f f f f'
      grid-template-columns 1fr $w_main $w_sub 1fr
      grid-template-rows auto 1fr auto
      .layout__header
        margin-bottom 3rem

.layout__header
  grid-area h
  width 100%

.layout__main
  grid-area m
  padding .5rem
  +pc()
    padding 0

.layout__sub
  grid-area s
  padding .5rem

.layout__footer
  grid-area f
